body {
  font-family: "Press Start 2P", cursive;
  margin: 0;
  padding: 0;
  background-color: #a3a4a5;

  height: 100vh;
  overflow: hidden;
}

header {
  background-color: rgb(243, 75, 75);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-bottom: 4px solid #333;
  z-index: 10;
}

.title {
  margin: 0;
}

.mail {
  margin: 0;
}

.mail a {
  text-decoration: none;
}

.hidden {
  display: none;
}

main {
  height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: 30vw 1fr;
  overflow: hidden;
}

main section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

main section:first-child {
  display: block;
  overflow-y: auto;
  border-right: 4px solid #333;
  padding: 40px 0;
}

#pokemon-list {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: flex-start;
  box-sizing: border-box;
}

.pokemon-card {
  width: 150px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  border: 4px solid #333;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  transition: transform 0.2s ease;
  font-size: 0.6rem;
}

.pokemon-card:hover {
  transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0px #ef5350;
  border-color: #ef5350;
}

main section:first-child::-webkit-scrollbar {
  width: 12px;
}

main section:first-child::-webkit-scrollbar-track {
  background: #888;
}

main section:first-child::-webkit-scrollbar-thumb {
  background: #333;
  border: 2px solid #888;
}
