body {
  font-family: "Press Start 2P", cursive;
  margin: 0;
  padding: 0;
  background-color: #a3a4a5;
}

header {
  background-color: rgb(243, 75, 75);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
}

.mail {
  margin: 0;
}

.mail a {
  text-decoration: none;
}

.hidden {
  display: none;
}

main {
  height: auto;
  display: grid;
  grid-template-columns: 50vw 50vw;
}

main section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.pokemon-item {
  background-color: #f2f2f2; /* Jasnoszare tło karty */
  border: 4px solid #dcdcdc; /* Styl "retro" ramki */
  border-radius: 10px; /* Lekko zaokrąglone rogi */
  padding: 20px; /* Przestrzeń wewnątrz karty */
  text-align: center; /* Wyśrodkowanie nazwy */

  /* Styl tekstu */
  font-family: "Press Start 2P", cursive; /* Pasuje do nagłówka */
  font-size: 10px; /* Mniejsza czcionka, żeby długie nazwy się mieściły */
  text-transform: capitalize; /* Pierwsza litera duża (bulbasaur -> Bulbasaur) */

  /* Dodatki interaktywne */
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.pokemon-item:hover {
  transform: scale(1.05); /* Lekkie powiększenie */
  background-color: #ffffff; /* Rozjaśnienie tła */
  border-color: #3b4cca; /* Zmiana koloru ramki na "Pokemon Blue" */
}
